/* CATEGORIAS DEL MENÚ */
.categories{
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #232323;
    margin-top: 30px;
}
/* BARRA MEDIA BLANCA QUE CONTIENE EL MENÚ */
.containerMenu{
    width: 60%;
    padding-left: 4%;
    padding-right: 3%;
    padding-top: 5%;
    background-color: white;
    border-bottom-left-radius: 20px;
}