* {
    box-sizing: border-box;
    font-size: 18px;
    overflow-x: hidden;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    
  }
  .home-img {
    width: 100%;
    align-self: flex-end;
    margin-left: 5%;
    margin-top: 15%;
  }
  
  .btn-blue {
    background: #0061bf;
    color: #ffffff;
    border: 5px solid #232323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 20%;
    height: 100%;
    padding: 15px;
    font-weight: bold;
    margin: 50% 0% 5% 2%;
  }
  
  .btn-blue:hover{
    background: #ffcc00;
    color: #232323;
    border: 5px solid #232323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 20%;
    height: 100%;
    padding: 15px;
    margin: 50% 0% 5% 2%;
    font-weight: bold;
  }