body{
    margin:0;
    padding: 0;
    width: 100%;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* CONTENEDOR DE TODOS LOS COMPONENTES */
.root{
    width: 100%;
    height: 768px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}
/* BARRA LATERAL AZUL QUE CONTIENE EL PEDIDO ACTIVO */
.sidebarBlue{
    width: 20%;
    padding: 3%;
    background-color: #0061BF;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

input {
    width: 180px;
    height: 20px;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 20px;
    border:none;
}

input[type=number]{
    width: 80px;
}

/* PEDIDO ACTIVO */
.orderNumber{
    margin-top: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.btnKitchen{
    width: 150px;
    height: 40px;
    margin-left: 3%;
    background: #FD7D00;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: fixed;
    bottom: 40px;
    color: white;
}