

/* BARRA LATERAL AMARILLA QUE CONTIENE EL ESTADO DE PEDIDOS */
.sidebarYellow{
    width: 15%;
    padding: 0;
    background-color: #FFCC00;
    border-bottom-right-radius: 20px;
}

/* CAJA BLANCA CON SIMBOLOGÍA DE PEDIDOS */
.symbologyOrders{
    width: 80%;
    height: 45px;
    padding: 15px;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
}

.symbologyTitle{
    font-size: 10px;
    color: #013183;
}

.btnHome{
    width: 60px;
    height: 45px;
    margin-left: 40px;
    background: #0061BF;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: fixed;
    bottom: 40px;
}

.imgBtnHome{
    width: 30px;
}