body{
    margin:0;
    padding: 0;
    width: 100%;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* CONTENEDOR DE TODOS LOS COMPONENTES */
.root{
    width: 100%;
    height: 768px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

/* BARRA LATERAL AMARILLA QUE CONTIENE EL ESTADO DE PEDIDOS */
.sidebarYellow{
    width: 15%;
    padding: 0;
    background-color: #FFCC00;
    border-bottom-right-radius: 20px;
}

/* CAJA BLANCA CON SIMBOLOGÍA DE PEDIDOS */
.symbologyOrders{
    width: 80%;
    height: 45px;
    padding: 15px;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
}

.symbologyTitle{
    font-size: 10px;
    color: #013183;
}

.btnHome{
    width: 60px;
    height: 45px;
    margin-left: 40px;
    background: #0061BF;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: fixed;
    bottom: 40px;
}

.imgBtnHome{
    width: 30px;
}

/* BARRA MEDIA BLANCA QUE CONTIENE EL MENÚ */
.containerMenu{
    width: 60%;
    padding-left: 4%;
    padding-right: 3%;
    padding-top: 5%;
    background-color: white;
    border-bottom-left-radius: 20px;
}

/* CONTENEDOR DE BOTONES DESAYUNO Y ALMUERZO */
.containerButtons{
    display: flex;
    justify-content: space-around;
}

.btn{
    width: 130px;
    height: 38px;
    background-color: #0061BF;
    border: 2px solid #232323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: white;
    font-weight: 500;
}

.btn:hover, .btn:active{
    background-color: #FFCC00;
    color: #232323;
}

/* CATEGORIAS DEL MENÚ */
.categories{
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #232323;
    margin-top: 30px;
}

/* TARJETAS DE MENÚ */
.cardMenu{
    width: 120px;
    height: 150px;
    margin-right: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
}

.cardMenu:hover{
    background-color: #FD7D00;
}

.imgMenu{
    margin: 0px;
    width: 100px;
}

.name{
    margin: 0px;
    font-size: 10px;
    color: #232323;
}

.price{
    margin: 5px;
    font-size: 12px;
    color: #0061BF;
}

/* BARRA LATERAL AZUL QUE CONTIENE EL PEDIDO ACTIVO */
.sidebarBlue{
    width: 20%;
    padding: 3%;
    background-color: #0061BF;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

input {
    width: 180px;
    height: 20px;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 20px;
    border:none;
}

input[type=number]{
    width: 80px;
}

/* PEDIDO ACTIVO */
.orderNumber{
    margin-top: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.btnKitchen{
    width: 150px;
    height: 40px;
    margin-left: 3%;
    background: #FD7D00;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: fixed;
    bottom: 40px;
    color: white;
}